<div *ngIf="usuario.role ==='Admin'; else NotAdmin">
<div class="flex-col" style="margin: 15px;">
  <span class="login100-form-title p-b-49">
    Gestión de Préstamos
</span>
<mat-form-field appearance="standard">
    <mat-label>Escribe el filtro deseado</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Completado, En proceso, 2022" #input>
  </mat-form-field>
  <button (click)="imprimir()" style="width: 50vw; margin-left: 25vw;"><a>Exportar busqueda actual a Excel</a></button>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort style="width: 100%;">
  
      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row._id}}  </td>
      </ng-container>
      <span></span>
      <ng-container matColumnDef="user_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del usuario </th>
        <td mat-cell *matCellDef="let row"> {{row.user_name}} </td>
      </ng-container>
      <ng-container matColumnDef="book_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Libro </th>
        <td mat-cell *matCellDef="let row" ><a (click)="abrir(row.book_id)"> {{row.book_id}}</a> </td>
      </ng-container>
      <ng-container matColumnDef="emission_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de emisión </th>
        <td mat-cell *matCellDef="let row"> {{row.emission_date | date:'shortDate'}} </td>
      </ng-container>

      <ng-container matColumnDef="final_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha límite </th>
        <td mat-cell *matCellDef="let row"> {{row.final_date | date:'shortDate'}} </td>
      </ng-container>
      <ng-container matColumnDef="book_quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Copias del libro </th>
        <td mat-cell *matCellDef="let row"> {{row.book_quantity}} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
        <td mat-cell *matCellDef="let row"> {{row.status}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
        <td mat-cell *matCellDef="let row"> 
          <div *ngIf="row.status == 'Nuevo'">
              <a (click)="actualizar(row._id, row.status)">Aceptar  </a>
              <a (click)="actualizar(row._id, 'Denegado')">Denegar</a>
          </div> 
          <div *ngIf="row.status == 'En proceso'">
            <a (click)="actualizar(row._id, row.status)">Completar  </a>
          </div> 
          <div *ngIf="row.status == 'Completado'">
             Ninguna
          </div>
          <div *ngIf="row.status == 'Denegado'">
            Ninguna
         </div>
          <div *ngIf="row.status == 'Atrasado'">
            <a>Sancionar</a>
        </div>    
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
  
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="zz">No encontramos data con "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of prestamos"></mat-paginator>
  </div>

</div>

     </div>   
<ng-template #NotAdmin>
  <div class="flex-c" style="margin: 25vw;">
  <mat-label>No tienes permiso de ver esta pagina.</mat-label>
</div>
</ng-template>