<div class="nav-bar">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Instituto_Tecnol%C3%B3gico_de_Santo_Domingo_INTEC_LOGO.png/640px-Instituto_Tecnol%C3%B3gico_de_Santo_Domingo_INTEC_LOGO.png"/>
    
    <div class="right-nav">
        <img src="https://msp.gob.do/web/images/escudo.png">
          <p> Inicio | Contactos | Mapa del sitio |<a routerLink="/auth/login" onclick="logout()"> Cerrar Sesión</a></p>
    </div>
</div>
    <mat-toolbar color="warn">
        <a routerLink="/dashboard" class="nav-link"><span>Inicio</span></a>
        <a class="nav-link">Sobre Nosotros</a>
        <a class="nav-link">Prestamos</a>
        <a class="nav-link">Contactos</a>
    </mat-toolbar>

<router-outlet></router-outlet>

<div  style="     background-color: gray;
height: 25vh;">
    <p>
AAAAAAAAAAAAAAAA
    </p>
</div>
<div class="footer">
    <img style="max-height: 50px; max-width: 100px; margin-bottom: 20px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Instituto_Tecnol%C3%B3gico_de_Santo_Domingo_INTEC_LOGO.png/640px-Instituto_Tecnol%C3%B3gico_de_Santo_Domingo_INTEC_LOGO.png">
    <p style="color: white;">Instituto Tecnológico de Santo Domingo</p>
    <p style="color: white;">XXXXXXXXXXXXXXXXXXXXXXX</p>
    <p style="color: white;">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
    <p style="color: white;">2022. Todos los derechos reservados.</p>
</div>